@import 'styles/colors';

.content-table {
  width: 100%;
  border: 1px solid $gray-5;
  background-color: $white;

  th,
  td {
    border: 1px solid $gray-5;
    width: 50%;
  }
}

.content-table__head__item {
  background-color: $white;
  padding: 8px;

  &--success {
    background-color: $green-2-alter;
    border-color: $green-4-alter;
  }

  &--warning {
    background-color: $yellow-2-alter;
    border-color: $yellow-4-alter;
  }

  &--danger {
    background-color: $red-2-alter;
    border-color: $red-4-alter;
  }
}

.content-table__row-wrap {
  display: flex;
}

.content-table__input-wrap {
  display: flex;
  width: 100%;
}