$black: #000000;
$white: #ffffff;

$page-bgr: #F0F2F5;

$gray-5: #d9d9d9;
$gray-7: #8c8c8c;

$green-2: #f6ffed;
$green-4: #b7eb8f;

$yellow-2: #fffbe6;
$yellow-4: #ffe58f;

$red-2: #fff1f0;
$red-4: #ffa39e;

$blue-5: #40a9ff;
$blue-6: #1890FF;
$blue-7: #096dd9;

$primary: $blue-6;