@import 'styles/colors';

.card {
  padding: 24px;
  border: 1px solid $gray-5;
  background-color: $white;
  border-radius: 5px;

  &--success {
    background-color: $green-2-alter;
    border-color: $green-4-alter;
  }

  &--warning {
    background-color: $yellow-2-alter;
    border-color: $yellow-4-alter;
  }

  &--danger {
    background-color: $red-2-alter;
    border-color: $red-4-alter;
  }
}

.card__content {
  display: block;
  margin-top: 24px;
}

.card__content__sufix {
  color: $gray-7;
}