@import 'styles/colors';

.data {}

.data__header {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  gap: 8px;
}

.data__add-item {
  display: flex;
  margin-top: 24px;
}

.data__add-item__column {
  width: 50%;
}

.data__footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}